@import "global.css";
@import "components/button.css";
@import "components/card.css";
@import "components/header.css";
@import "components/navigation.css";

main {
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.tags {
  display: flex;
  list-style: none;
  align-self: flex-start;
  gap: 5px;
  padding: 1px;
}

.tags li {
  background-color: rgb(92, 89, 89);
  color: white;
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px;
}

footer {
  background-color: rgb(198, 148, 222);
  position: fixed;
  bottom: 0px;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 10vw;
}
.badges {
  display: flex;
  gap: 2vw;
}
