.card {
  position: relative;
  margin: 20px 10%;
  padding: 5vw;
  border: 5px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bookmark {
  position: absolute;
  top: -20px;
  right: 0px;
}

.bookmark--active {
  /*filter: invert(48%) sepia(13%) saturate(3000%) hue-rotate(130deg)
    brightness(100%) contrast(30%);*/
  background-color: blue;
  color: violet;
  border: 45px solid red;
}
