.card {
  position: relative;
  margin: 20px 10%;
  padding: 5vw;
  border: 5px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bookmark {
  position: absolute;
  padding: 0;
  top: -20px;
  right: 0px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: white;
}

.bookmark--active {
  background-color: rgb(228, 204, 238);
  border: 5px solid white;
}
